<%= link_to 'New Game Category', new_game_category_path, class: 'btn btn-primary mb-2' %>
<br>
<div class="card">
  <div class="card-header" >Games Categories</div>
  <div class="card-body" >

    <table class="table table-hover table-sm">
      <thead>
      <th >Name</th>

      <th></th>

      </thead>
      <tbody>
      <% @game_categories.each do |g| %>
        <tr>
          <td><%= g.name %></td>
          <td class="text-right"><%= link_to 'Edit', edit_game_category_path(g), class: 'btn btn-warning'%>
            <%= link_to 'Delete', g, method: :delete, class: 'btn btn-danger ', data:{confirm: 'Are you sure you want to delete?'} %></td>
        </tr>
      <% end %>
      </tbody>

    </table>
  </div>
  <% if @game_categories.total_pages > 1 %>
    <div class="card-footer text-center">
        <%= paginate @game_categories %>
    </div>
  <%end %>
</div>