<%= link_to 'New Game', new_game_path, class: 'btn btn-primary mb-2' %>
<br>
<div class="card">
  <div class="card-header" >Games List</div>
  <div class="card-body" >

    <table class="table table-hover table-sm">
      <thead>
      <th >Game</th>
      <th>Category</th>
      <th class="text-center">Year</th>
      <th class="text-center">Quantity</th>
      <th class="text-center">Rent</th>
      <th></th>

      </thead>
      <tbody>
      <% @games.each do |g| %>
        <tr>
          <td><%= link_to g.name, g %></td>
          <td><%=  g.game_category.name if g.game_category %></td>
          <td class="text-center"><%= g.release_date %></td>
          <td class="text-center"><%= g.avalable_qty %></td>
          <td class="text-center"><%= link_to 'Rent', new_game_rent_path(g), class: 'btn btn-primary' if g.avalable_qty > 0 %></td>
          <td class="text-right"><%= link_to 'Edit', edit_game_path(g), class: 'btn btn-warning'%>
            <%= link_to 'Delete', g, method: :delete, class: 'btn btn-danger ', data:{confirm: 'Are you sure you want to delete?'} %></td>
        </tr>
      <% end %>
      </tbody>

    </table>
  </div>
  <% if @games.total_pages > 1 %>
    <div class="card-footer text-center">
        <%= paginate @games %>
    </div>
  <%end %>
</div>