<%= link_to 'New Rent', new_game_rent_path(@game), class: 'btn btn-primary mb-2' if @game.avalable_qty > 0  %>
<br>
<div class="card">
  <div class="card-header" >Rent History</div>
  <div class="card-body" >

    <table class="table table-hover table-sm">
      <thead>
      <th >Customer</th>

      <th class="text-center">Rent At</th>
      <th class="text-center">Return At</th>

      <th></th>

      </thead>
      <tbody>
      <% @game.rents.each do |r| %>
        <tr>
          <td><%= r.customer.name %></td>
          <td class="text-center"><%= r.created_at %></td>
          <td class="text-center"><%= r.return_date %></td>
          <td class="text-right"><%= link_to 'Return', edit_rent_path(r), class: 'btn btn-warning' unless r.return_date%>
            </td>
        </tr>
      <% end %>
      </tbody>

    </table>
  </div>
</div>