<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>GameRent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <%= render 'layouts/partials/header' %>
  <div class="container"><%= yield %></div>

  </body>
  <%= javascript_include_tag 'application' %>
</html>
